.create-link {
  margin: 40px 20%;
  padding: 10px 5px;
  border-radius: 2px;
  background-color: #fcfcfc;
  text-align: center;
}

.create-link__input {
  margin: 10px 5px;
  width: 100%;
  max-width: 500px;
}

.create-link__create-btn {
  margin-left: 10px;
}
